.formContainer {
    align-items: center;
    background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/4364/production/_115325271_gettyimages-514080166.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.title{
    background-color: var(--form-bg);
    border-radius: 10px 10px;
    padding: 20px;
}
