.container {
    
    background-image: url("https://images.unsplash.com/photo-1505506874110-6a7a69069a08?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container h2 {
    border-bottom: 1px solid var(--yellow);
    color: var(--yellow);
    grid-column: span 4; /* makes header span across all the columns */
    margin-bottom: 50px;
}

.headingAndButton {
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 30px;
}
.birthdayBuddiesList {
    background: var(--form-bg);
    border: 1px solid var(--blue);
    border-radius: 10px;
    color: var(--white);
    font-size: 25px;
    margin: 20px auto;
    max-width: 500px;
    padding: 10px;
}

.items {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.birthday {
    border-bottom: 1px solid var(--white);
}