.month-btn {
    background-color: var(--yellow);
    border: none;
    border-radius: 50% 50%;
    box-shadow: 0px 0px 20px 5px var(--form-bg);
    font-size: 50px;
    color: var(--black);
    margin-bottom: 50px;
    opacity: 0.8;
    padding: 5px 10px;
    transform: rotate(5deg);
    transition: .5s all;
    }
/* makes some 'stars' look different */
.big {
    border: solid var(--yellow) 20px;
   
}
.small {
    border: dotted white 5px;

}
.rotate-left {
    transform: rotate(-10deg);
}
.rotate-right{
    transform: rotate(20deg);
}

.month-btn:hover,
.month-btn:focus {
    box-shadow: none;
    cursor: pointer;
    font-weight: bold;
    opacity: 1;
    outline: none;
}